.calendar__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #DADCE099
}

.calendar__nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.calendar__nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
}

.calendar__nav-btn--rotate {
    transform: rotate(180deg);
}

.calendar__nav-btn:hover {
    background: #f3f4f6;
}

.calendar__month-switcher {
    width: 7px;
    height: 12px;
    color: #001020;
}

.calendar__title {
    font-family: Inter;
    color: #0C41FF;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
}

.calendar__actions {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.calendar__add {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0C41FF;
    height: 32px;
    gap: 4px;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.calendar__add:hover {
    background: #0a36d6;
}

.calendar__text {
    font-family: Inter;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}

.calendar__plus-icon {
    width: 13px;
    height: 13px;
    color: #FFFFFF;
}

/* ---------- SEARCH ---------- */

.calendar__search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    width: 184px;
    height: 28px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #A1A1AA
}

.calendar__search-wrapper:focus-within {
    border: 1px solid #0C41FFB2;
    box-shadow: 0px 0px 3px 0px #0070D2;
}

.calendar__search {
    width: 100%;
    height: 100%;
    padding-left: 18px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: none;
    outline: none;
}

.calendar__search-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    pointer-events: none;
    color: #B5B3B3;
}

.calendar__search-results {
    position: absolute;
    top: 34px;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    z-index: 10;
}

.calendar__search-item {
    padding: 8px;
    cursor: pointer;
}

.calendar__search-item:hover {
    background: #f3f4f6;
}

.calendar__search-date {
    font-size: 11px;
    color: #777;
}
