.calendar {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1443px;

    background: var(--c-bg-page);
    border: 1px solid #9D9E9F99;
    border-radius: var(--radius-popup);

    overflow: hidden;
}
